@import url("reset.css");

/** Gorka Styles **/

tr.gorka, th.gorka, td.gorka {
	vertical-align: top;
}

/** Begin Template **/

body
{
	font-size: 12px;
	font-family: 'Droid Sans', Arial, Helvetica, sans-serif;
	color: #CCC;
	background: #111;
	
}

a { color: #712067; text-decoration: none; }
a:hover { color: #FFF; text-decoration: none; }

/** Main Styles **/

#headercont
{
	width: 100%;
	background: #020202;
}

	#headercont #header
	{
		margin: 0 auto;
		width: 840px;
	}
	
		#headercont #header #headerlogo
		{
			float: left;
			width: 300px;
			padding: 35px 0 0 0;
		}

			#headercont #header #headerlogo h1 a
			{
				color: #FFF;
				font-weight: normal;
				font-size: 38px;
				letter-spacing: -1px;
				text-transform: uppercase;
			}
			
			#headercont #header #headerlogo h1 a:hover
			{
				color: #712067;
			}
		
		#headercont #header #headermenu
		{
			float: left;
			width: 540px;
			padding: 30px 0;
		}

			#headercont #header #headermenu ul
			{
				float: right;
				height: 36px;
			}
			
			#headercont #header #headermenu ul li
			{
				float: left;
				display: block;
			}
			
			#headercont #header #headermenu ul li a
			{
				float: left;
				display: block;
				color: #FFF;
				background: #191919;
				margin: 0 0 0 5px;
				padding: 0 20px;
				line-height: 36px;
				font-size: 11px;
				text-decoration: none;
				text-transform: uppercase;
			}
			
			#headercont #header #headermenu ul ul li a
			{ 
				float: none; 
				width: 160px;
				padding: 10px 20px;
				line-height: 14px;
			}

			#headercont #header #headermenu ul li a:hover, #headercont #header #headermenu ul li.sfHover a, #headercont #header #headermenu ul ul a
			{
				color: #FFF;
				background: #712067;
			}
			
			#headercont #header #headermenu ul li li a:hover, #headercont #header #headermenu ul li.sfHover li a:hover
			{
				color: #FFF;
				background: #511649;
			}
			
				/*** Start SuckerFish Styles ***/
				
					.sf-menu, .sf-menu * { margin: 0; padding: 0; list-style:	none; }
					.sf-menu { line-height:	1.0; }
					.sf-menu ul { position: absolute; top: -999em; width: 200px; margin-top: 0; padding-top: 0; }
					.sf-menu ul li { width:	100%; }
					.sf-menu li:hover { visibility: inherit; }
					.sf-menu li { float: left; position: relative; }
					.sf-menu a { display: block; position: relative; }
					.sf-menu li:hover ul, .sf-menu li.sfHover ul { left: 0; top: 36px; z-index: 99; }
					ul.sf-menu li:hover li ul, ul.sf-menu li.sfHover li ul { top: -999em; }
					ul.sf-menu li li:hover ul, ul.sf-menu li li.sfHover ul { left: 200px; top: 0; }
					ul.sf-menu li li:hover li ul,
					ul.sf-menu li li.sfHover li ul { top: -999em; }
					ul.sf-menu li li li:hover ul,
					ul.sf-menu li li li.sfHover ul { left: 10em; top: 0; }		
				
				/** End SuckerFish Styles **/

#gallerycont
{
	margin: 0 auto;
	width: 920px;
	padding: 20px 0 0 0;
	font-size: 11px;
}
	
	#gallerycont .panelleft
	{
		float: left;
		width: 330px;
		padding: 20px 0 20px 20px;
	}
	
		#gallerycont .panelleft p
		{
			margin: 0 0 15px 0;
		}
		
		#gallerycont .panelleft h3
		{
			margin: 10px 0;
			font-size: 30px;
			font-weight: bold;
			color: #FFF;
			text-transform: uppercase;
		}
	
	#gallerycont .panelright
	{
		float: left;
		width: 450px;
		height: 300px;
		padding: 20px;
	}
	
	/* Don't change anything below here unless you know what you're doing */

		.coda-slider { background: #222; -webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px; -moz-box-shadow: 0 0 5px #000; -webkit-box-shadow: 0 0 5px #000; box-shadow: 0 0 5px #000; }
		.coda-slider, .coda-slider .panel { width: 840px; line-height: 18px; } 
		
		.coda-nav-left a { background: url("../images/arrow-left.png") no-repeat center right; color: #FFF; width: 40px; height: 340px; text-indent: -9000em; }
			.coda-nav-left a:hover { background: url("../images/arrow-left.png") no-repeat center left; }
		
		.coda-nav-right a { background: url("../images/arrow-right.png") no-repeat center left; color: #FFF; width: 40px; height: 340px; text-indent: -9000em; }
			.coda-nav-right a:hover { background: url("../images/arrow-right.png") no-repeat center right; }

		.coda-slider-wrapper { clear: both; overflow: auto }
		.coda-slider { float: left; overflow: hidden; position: relative }
		.coda-slider .panel { display: block; float: left }
		.coda-slider .panel-container { position: relative }
		.coda-nav-left, .coda-nav-right { float: left }
		.coda-nav-left a, .coda-nav-right a { display: block; text-align: center; text-decoration: none }
	
	/* End */

#maincont
{
	margin: 0 auto;
	width: 840px;
	padding: 30px 40px;
	line-height: 22px;
}

		#maincont p { margin: 0 0 15px 0; }
		
		#maincont h1, #maincont h2, #maincont h3, #maincont h4, #maincont h5 { margin: 0 0 15px 0; font-weight: normal; letter-spacing: -1px; }
		#maincont h1 { font-size: 36px; }
		#maincont h2 { font-size: 34px; }
		#maincont h3 { font-size: 34px; }
		#maincont h4 { font-size: 22px; }
		#maincont h5 { font-size: 22px; }
			#maincont #mainleft h1, #maincont #mainleft h2, #maincont #mainleft h3, #maincont #mainleft h4, #maincont #mainleft h5 { color: #666; }
		
		#maincont ul { margin: 0 0 15px 35px; list-style-type: square; }
		#maincont ul li { padding: 0 0 0 2px; }
		
		#maincont ol { margin: 0 0 15px 35px; list-style-type: decimal; }
		#maincont ol li { padding: 0 0 0 2px; }
		
		#maincont blockquote { background: #151515; border-left: 3px solid #712067; padding: 15px; margin: 0 0 15px 0; font-style: italic; line-height: 18px; }

	#maincont #mainleft
	{
		float: left;
		width: 200px;
		padding: 0 40px 0 0;
		color: #666;
	}
	
		#maincont #mainleft ul.sidemenu
		{
			float: left;
			width: 200px;
			margin: 0 0 15px 0;
		}
		
		#maincont #mainleft ul.sidemenu li
		{
			display: block;
			list-style-type: none;
		}
		
		#maincont #mainleft ul.sidemenu li a
		{
			float: left;
			width: 180px;
			padding: 6px 10px;
			margin: 0 0 1px 0;
			background: #181818;
			color: #CCC;
		}
		
			#maincont #mainleft ul.sidemenu li.active a
			{
				color: #FFF;
				background: #712067;
			}
		
		#maincont #mainleft ul.sidemenu li a:hover
		{
			color: #FFF;
			background: #511649;
		}
	
	#maincont #mainright
	{
		float: left;
		width: 600px;
	}
	
#footercont
{
	margin: 0 auto;
	width: 800px;
	padding: 20px;
	font-size: 11px;
	line-height: 16px;
	text-align: right;
	border-top: 1px dashed #222;
	color: #666;
}